logs
*.log
npm-debug.log*
.env
node_modules
.npm
.DS_Store
.idea
.vscode
/frontend/build
/backend/node_modules
/frontend/node_modules
/.pnp
.pnp.js
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local