.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: .5s ease-in-out;
}