.footer {
  max-width: 880px;
  width: 100%;
  /* margin: 0 auto 60px; */
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 596px) {
  .footer {
    max-width: 282px;
    padding-bottom: 36px;
  }
}