.popup__input {
  all: unset;
  padding: 0 0 9px;
  max-width: 358px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}