.popup__container {
  max-width: 430px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  position: relative;
  min-height: 330px;
}

@media screen and (max-width: 596px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}